* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass';
}

.container {
    background: linear-gradient(to bottom, hsl(212, 20%, 19%), hsl(213, 22%, 10%) );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    height: 90vh;
    max-height: 600px;
    width: 90vw;
    max-width: 500px;
    border-radius: 35px;
    overflow: hidden;
}

h2, h4 {
    margin: 10px 20px 5px 40px;
}

h2 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #c7c2c2;
}



.container img {
    height: 55px;
    margin: 40px auto 10px 40px;
    padding: 16px;
    background-color: hsl(212, 17%, 22%);
    border-radius: 50%;
}

.container .numbers{
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 20px;
}

.container .numbers button {
    background-color: hsl(212, 17%, 22%);
    height: 65px;
    width: 65px;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.3rem;
}
.container .numbers button:hover {
    background-color: #fff;
    cursor: pointer;
    color: hsl(212, 18%, 14%);
}


.container .numbers button:active {
    background-color: hsl(25, 72%, 54%);
    color: hsl(212, 18%, 14%);
}

.numbers button.active {
    background-color: hsl(25, 72%, 54%);
    color: hsl(212, 18%, 14%);
}

.submit-button {
    align-self: center;
    width: 80%;
    margin: 30px;
    padding: 15px;
    color: hsl(212, 18%, 14%);
    background-color: hsl(25, 97%, 53%);
    letter-spacing: 0.1rem;
    border-radius: 30px;
    font-weight: 700;
    font-size: 1.1rem;

}

.submit-button:hover {
    cursor: pointer;
}

.submit-button:active {
    background-color: #fff;
    color:hsl(212, 18%, 14%);
}


.container2 {
    background: linear-gradient(to bottom, hsl(212, 20%, 19%), hsl(213, 22%, 10%) );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    height: 90vh;
    max-height: 500px;
    width: 90vw;
    max-width: 500px;
    border-radius: 35px;
    overflow: hidden;  
    display: none;
}

.image-container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container2 img {
    align-self: center;
    width: 40%;
    
}

.container2 .selected {
    background-color: hsl(212, 17%, 22%);
    align-self: center;
    margin: 30px;
    color:hsl(25, 72%, 54%);
    padding: 10px 20px;
    border-radius: 25px;
}

.container2 .thanks {
    align-self: center;
    margin-bottom: 20px
}

.container2 h4 {
    text-align: center;
    color: hsl(218, 5%, 46%)
}


.attribution {
    position: fixed;
    bottom: 10px;
    color: #fff;
}


@media(max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    .container .numbers button {
        height: 50px;
        width: 50px;
    }
}